*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightslategray;
}
.nav{
    width: 100%;
    display: flex;
    height: 50px;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
}
.search-bar
{
    width: 300px;
    background-color:white;
    padding: 5px;
    margin-right: 5px;
    position: relative;
}
.row{
   display: flex;
   align-items: center;
   padding: 0px 5px;
}
input{
    flex: 1;
    height: 25px;
    border: none;
    outline: none;
}
button{
    border: none;
    height: 100%;
    padding: 4px;
    background-color: unset;
    border-left: 1px solid black;
}
button:active{
    transform: scale(0.8);
}
.suggestions{
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0%;
    top: 100%;
    border-top: 1px solid black;
}
li{
    padding: 5px;
}
ul{
    list-style: none;
}
.suggestions ul li:hover{
    background-color:rgba(0,0,0,0.1);
}